#form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 100%;
    min-width: 40%;
    background-color: #fff;
    padding: 20px;
    border-radius: 20px;
    position: relative;
    margin: auto;
    margin-top: 20px;
    box-shadow: 5px 5px 10px;
  }
  
  .title {
    font-size: 28px;
    color: royalblue;
    font-weight: 600;
    letter-spacing: -1px;
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 30px;
  }
  
  .title::before,.title::after {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    border-radius: 50%;
    left: 0px;
    background-color: royalblue;
  }
  
  .title::before {
    width: 18px;
    height: 18px;
    background-color: royalblue;
  }
  
  .title::after {
    width: 18px;
    height: 18px;
    animation: pulse 1s linear infinite;
  }
  .message, .signin {
    color: rgba(88, 87, 87, 0.822);
    font-size: 14px;
  }
  
  .signin {
    text-align: center;
  }
  
  .signin Link {
    color: royalblue;
  }
  
  .signin Link:hover {
    text-decoration: underline royalblue;
  }
  #form label {
    position: relative;
  }
  
  #form label #input {
    width: 100%;
    padding: 10px 10px 20px 10px;
    outline: 0;
    border: 1px solid rgba(105, 105, 105, 0.397);
    border-radius: 10px;
  }
  #flex{
    display: flex;
    width: 100%;
    gap: 8px;
  }
  
  #form label #input + span {
    position: absolute;
    left: 10px;
    top: 15px;
    color: grey;
    font-size: 0.9em;
    cursor: text;
    transition: 0.3s ease;
  }
  
  #form label #input:placeholder-shown + span {
    top: 15px;
    font-size: 0.9em;
  }
  
  #form label #input:focus + span,#form label #input:valid + span {
    top: 30px;
    font-size: 0.7em;
    font-weight: 600;
  }
  
  #form label #input:valid + span {
    color: green;
  }
  
  .submit {
    border: none;
    outline: none;
    background-color: royalblue;
    padding: 10px;
    border-radius: 10px;
    color: #fff;
    font-size: 16px;
    transform: .3s ease;
  }
  
  .submit:hover {
    background-color: rgb(56, 90, 194);
  }
  
  @keyframes pulse {
    from {
      transform: scale(0.9);
      opacity: 1;
    }
  
    to {
      transform: scale(1.8);
      opacity: 0;
    }
  }

  /*  ----------------inputs STYLE ----------------- */

  .input {
    color: #fff;
    font-size: 0.9rem;
    background-color: transparent;
    width: 100%;
    box-sizing: border-box;
    padding-inline: 0.5em;
    padding-block: 0.7em;
    border: none;
    border-bottom: 1px solid red;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: all .5s;
  }
  
  .input-border {
    position: absolute;
    width: 0%;
    height: 2px;
    bottom: 0;
    left: 0;
    transition: width 0.3s cubic-bezier(0.6, -0.28, 0.735, 0.045);
  }
  
  .input:focus {
    outline: none !important;
    background: rgba(255, 255, 255, 0.759);
    border: none !important;
    background: #eee;
    color: #000;
  }
  
  .input:focus + .input-border {
    width: 97%;
    margin-left: 10px;
  }
  
  #from-control {
    position: relative;
    --width-of-input: 300px;
  }
  
  .input-alt {
    font-size: 1.2rem;
    padding-inline: 1em;
    padding-block: 0.8em;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .input-border-alt {
    height: 3px;
    margin-left: 12px;
    background: linear-gradient(90deg, #FF6464 0%, #FFBF59 50%, #47C9FF 100%);
    transition: width 0.4s cubic-bezier(0.42, 0, 0.58, 1.00);
  }
  
  .input-alt:focus + .input-border-alt {
    width: 97%;
    margin-left: 10px;
  }