body{
    /* background: #000000; */
}
#nav{
    box-shadow: 0px 5px 10px #000000, inset 0px 10px 30px  #008ECC ;
    padding: 20px 10px;
    height: 60px;
    background: linear-gradient(to bottom, #008fcc37, rgb(0, 0, 0));
    /* border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px; */
    border: none;

}
#nav #name{
    color: #fff;
    transition: all .5s;
}
#nav #admin{
    color: #fff;
    transition: all .5s;
}
#nav #cart{
    transition: all .5s;
    color: #fff;
}
#nav #cart:hover,#nav #admin:hover, #nav #name:hover{
    scale: .98;
    color: #072066;

}

.dropdown-menu{
    color: #fff !important;
    box-shadow: 0px 5px 10px #000000, inset 0px 10px 30px  #008ECC ;
    margin: 10px 20px;
    padding: 20px 10px;

    
    background: linear-gradient(to bottom, #008ECC, rgb(0, 0, 0));
}
.dropdown-menu li, .dropdown-menu a{
    color: #fff !important;
    text-decoration: none;
    border-radius: 15px;
    margin-bottom: 10px ;
    background: #888;
    transition: all .5s;
}
.dropdown-menu a:hover, .dropdown-menu li:hover{
    background-color: #008ECC;
    cursor: pointer;
    scale: .95;
}
#cards{
    background-color: #1a1a1a;
    border-radius: 0px;
    padding: 0px 0px !important;
    transition: all .2s;
}
#cards:hover {
    transform: scale(0.98);
    border-radius: 20px;
   }
.card1{
    background-image: linear-gradient(163deg, #008ecc 0%, yellow 100%);
    border-radius: 20px;
    transition: all .3s;
}
.card1:hover{
    box-shadow: 0px 0px 30px 1px rgba(0, 143, 204, 0.589);
}
#cards .descrip{
    font-size: .8rem ;
}
#cards .rating{
    font-size: .9rem;
    
}
#cards .price{
    color: #008ECC;
}
#cards .card-title{
    color: #fff !important;
    margin-top: 5px;
}


input[type=file]::file-selector-button {
    margin-right: 20px;
    border: none;
    background: #084cdf;
    padding: 10px 20px;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    transition: background .2s ease-in-out;
}

input[type=file]::file-selector-button:hover {
    background: #0d45a5;
}

/* ----STYLING THE LOADER ---------- */
#loader {
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    animation: rotate_3922 1.2s linear infinite;
    background-color: #9b59b6;
    background-image: linear-gradient(#9b59b6, #84cdfa, #5ad1cd);
  }
  
  #loader span {
    position: absolute;
    border-radius: 50%;
    height: 100%;
    width: 100%;
    background-color: #9b59b6;
    background-image: linear-gradient(#9b59b6, #84cdfa, #5ad1cd);
  }
  
  #loader span:nth-of-type(1) {
    filter: blur(5px);
  }
  
  #loader span:nth-of-type(2) {
    filter: blur(10px);
  }
  
  #loader span:nth-of-type(3) {
    filter: blur(25px);
  }
  
  #loader span:nth-of-type(4) {
    filter: blur(50px);
  }
  
  #loader::after {
    content: "";
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    background-color: #ffffff;
    border: solid 5px #ffffff;
    border-radius: 50%;
  }
  
  @keyframes rotate_3922 {
    from {
      transform: translate(-50%, -50%) rotate(0deg);
    }
  
    to {
      transform: translate(-50%, -50%) rotate(360deg);
    }
  }
  

