body{
    /* background: #000000; */
}
tbody tr{
  border-bottom: 3px solid white;
}

:root{
  --primary-color: rgb(56, 90, 194);
  --royalblue: royalblue;

}
#sideNav{
  display: flex;
  flex-direction: column;
}
#nav{
    box-shadow: 0px 5px 10px;
    padding: 20px 10px;
    min-height: 60px;
    background: var(--royalblue) !important;
    /* border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px; */
    border: none;

}
#nav #name{
    color: #fff;
    transition: all .5s;
}
#nav #admin{
    color: #fff;
    transition: all .5s;
}
#nav #cart{
    transition: all .5s;
    color: #fff;
}
#nav #cart:hover,#nav #admin:hover, #nav #name:hover{
    scale: .98;
    color: var(--primary-color);

}

.dropdown-menu{
    color: #fff !important;
    box-shadow: 0px 2px 10px #000000;
    /* margin: 5px 10px; */
    padding: 20px 10px;
    background: var(--royalblue);
}
.dropdown-menu li, .dropdown-menu a{
    color: #fff !important;
    text-decoration: none;
    border-radius: 15px;
    margin-bottom: 5px ;
    background: #888;
    transition: all .5s;
}
.dropdown-menu a:hover, .dropdown-menu li:hover{
    background-color : var(--primary-color);
    cursor: pointer;
    scale: .95;
}
#cards{
    background-color: #1a1a1a;
    border-radius: 0px;
    padding: 0px 0px !important;
    transition: all .2s;
}
#cards:hover {
    transform: scale(0.98);
    border-radius: 20px;
   }
.card1{
    background-image: linear-gradient(163deg, #008ecc 0%, yellow 100%);
    border-radius: 20px;
    transition: all .3s;
}
.card1:hover{
    box-shadow: 0px 0px 30px 1px rgba(0, 143, 204, 0.589);
}
#cards .descrip{
    font-size: .8rem ;
}
#cards .rating{
    font-size: .9rem;
    
}
#cards .price{
    color: #008ECC;
}
#cards .card-title{
    color: #fff !important;
    margin-top: 5px;
}


input[type=file]::file-selector-button {
    margin-right: 20px;
    border: none;
    background: #084cdf;
    padding: 10px 20px;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    transition: background .2s ease-in-out;
}

input[type=file]::file-selector-button:hover {
    background: #0d45a5;
}

/* ----STYLING THE LOADER ---------- */
.wrapper {
  width: 200px;
  height: 60px;
  position: relative;
  z-index: 1;
}

.circle {
  width: 20px;
  height: 20px;
  position: absolute;
  border-radius: 50%;
  background-color: #000;
  left: 15%;
  transform-origin: 50%;
  animation: circle7124 .5s alternate infinite ease;
}

@keyframes circle7124 {
  0% {
    top: 60px;
    height: 5px;
    border-radius: 50px 50px 25px 25px;
    transform: scaleX(1.7);
  }

  40% {
    height: 20px;
    border-radius: 50%;
    transform: scaleX(1);
  }

  100% {
    top: 0%;
  }
}

.circle:nth-child(2) {
  left: 45%;
  animation-delay: .2s;
}

.circle:nth-child(3) {
  left: auto;
  right: 15%;
  animation-delay: .3s;
}

.shadow {
  width: 20px;
  height: 4px;
  border-radius: 50%;
  background-color: rgba(0,0,0,0.9);
  position: absolute;
  top: 62px;
  transform-origin: 50%;
  z-index: -1;
  left: 15%;
  filter: blur(1px);
  animation: shadow046 .5s alternate infinite ease;
}

@keyframes shadow046 {
  0% {
    transform: scaleX(1.5);
  }

  40% {
    transform: scaleX(1);
    opacity: .7;
  }

  100% {
    transform: scaleX(.2);
    opacity: .4;
  }
}

.shadow:nth-child(4) {
  left: 45%;
  animation-delay: .2s
}

.shadow:nth-child(5) {
  left: auto;
  right: 15%;
  animation-delay: .3s;
}

  

