@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&family=Ubuntu:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

body{
    background: var(--primary-color);
    overflow-x: hidden;
}
tbody tr{
  border-top: 3px solid var(--FirstHair-color);
  font-size: 1.2rem;
  color: var(--light-color);
  overflow: scroll;
}

a{
  color: var(--SecondHair-color);
}
:root{
  /* Colors */
  --primary-color: rgb(227,199,178);
  --lipstik-color: rgb(225,142,149);
  --secondary-color : rgb(224,186,160);
  --forth-color : rgb(243,231,218);
  --light-color: rgb(240,215,199);
  --FirstHair-color: rgb(165,149,140);
  --SecondHair-color: rgb(79,59,51);
  --green-light: rgb(66, 146, 66);
  --light: #fff;
  --dark: #000;

  /* Fonts */
  --primary-font:'Play', sans-serif;
  --secondary-font:'Ubuntu', sans-serif;

}
h1, h2, h3, h4{
  font-family: var(--primary-font);
}
p, Link, input, label{
  font-family: var(--secondary-font);
}


#sideNav{
  display: flex;
  flex-direction: column;
}
#nav{
    box-shadow: 0px 5px 20px var(--FirstHair-color);
    padding: 5px 10px;
    margin: 25px 0px;
    /* margin: auto; */
    /* align-self: center; */
    width: 80%;
    margin-left: 10% ;
    background: rgba(227,199,178, .0) !important;
    backdrop-filter: blur(10px);
    position: fixed;
    border-radius: 30px;
    border: none;
    z-index: 99999;
    transition: all .5s;
    /* border: 1px solid red; */
}
.scrollMynav{
  transform: translateY(-100px);
}
#nav #name{
    color: #fff;
    transition: all .5s;
}
#nav #admin{
    color: #fff;
    transition: all .5s;
}
#nav #cart{
    transition: all .5s;
    color: #fff;
}
#nav #cart:hover,#nav #admin:hover, #nav #name:hover{
    scale: 1.1;
    letter-spacing: .5px;
    color: var(--SecondHair-color);


}

.dropdown-menu{
  color: #fff !important;
  box-shadow: 0px 2px 10px #000000;
  /* margin: 5px 10px; */
  padding: 20px 10px;
  /* background: var(--FirstHair-color) !important; */
  background: var(--secondary-color);
  backdrop-filter: blur(20px) !important;
}
#fkdrop{
  
}
.dropdown-menu li, .dropdown-menu a{
  
    color: #fff !important;
    text-decoration: none;
    border-radius: 15px;
    margin-bottom: 5px ;
    background: #888;
    transition: all .5s;
}
.dropdown-menu a:hover, .dropdown-menu li:hover{
    background-color : var(--primary-color);
    cursor: pointer;
    scale: .95;
}

/* --------- cards styling ------------- */
#cards{
    background-color: var(--secondary-color);
    border-radius: 0px;
    height: 300px  ;
    padding: 0px 0px !important;
    transition: all .2s;
    width: 200px;
}
#cards img{
  border-radius: 5px;
}
#cards:hover {
    transform: scale(0.98);
    border-radius: 20px;
   }
.card1{
    background-image: linear-gradient(163deg,  var(--forth-color) 0%, var(--lipstik-color) 100%);
    border-radius: 20px;
    transition: all .3s;
}
.card1:hover{
    box-shadow: 0px 0px 30px 1px var(--FirstHair-color);
}
#cards .descrip{
    font-size: .8rem ;
}
#cards .rating{
    font-size: .9rem;
    
}
#cards .price{
    color: var(--lipstik-color);
}
#cards .card-title{
    color: #fff !important;
    margin-top: 5px;
}


input[type=file]::file-selector-button {
    margin-right: 20px;
    border: none;
    background: #084cdf;
    padding: 10px 20px;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    transition: background .2s ease-in-out;
}

input[type=file]::file-selector-button:hover {
    background: #0d45a5;
}

/* ----STYLING THE LOADER ---------- */
.wrapper {
  width: 200px;
  height: 60px;
  position: relative;
  z-index: 1;
}

.circle {
  width: 20px;
  height: 20px;
  position: absolute;
  border-radius: 50%;
  background-color: #000;
  left: 15%;
  transform-origin: 50%;
  animation: circle7124 .5s alternate infinite ease;
}

@keyframes circle7124 {
  0% {
    top: 60px;
    height: 5px;
    border-radius: 50px 50px 25px 25px;
    transform: scaleX(1.7);
  }

  40% {
    height: 20px;
    border-radius: 50%;
    transform: scaleX(1);
  }

  100% {
    top: 0%;
  }
}

.circle:nth-child(2) {
  left: 45%;
  animation-delay: .2s;
}

.circle:nth-child(3) {
  left: auto;
  right: 15%;
  animation-delay: .3s;
}

.shadow {
  width: 20px;
  height: 4px;
  border-radius: 50%;
  background-color: rgba(0,0,0,0.9);
  position: absolute;
  top: 62px;
  transform-origin: 50%;
  z-index: -1;
  left: 15%;
  filter: blur(1px);
  animation: shadow046 .5s alternate infinite ease;
}

@keyframes shadow046 {
  0% {
    transform: scaleX(1.5);
  }

  40% {
    transform: scaleX(1);
    opacity: .7;
  }

  100% {
    transform: scaleX(.2);
    opacity: .4;
  }
}

.shadow:nth-child(4) {
  left: 45%;
  animation-delay: .2s
}

.shadow:nth-child(5) {
  left: auto;
  right: 15%;
  animation-delay: .3s;
}

/*  ------------- button styl ---------- */
.button {
  cursor: pointer;
  position: relative;
  padding: 5px 25px;
  font-size: 18px;
  color: #fff;
  border: 2px solid var(--light-color);
  border-radius: 34px;
  background-color: transparent;
  font-weight: 600;
  transition: all 0.3s cubic-bezier(0.23, 1, 0.320, 1);
  overflow: hidden;
  align-self: end;
}

.button::before {
  content: '';
  position: absolute;
  inset: 0;
  margin: auto;
  width: 50px;
  height: 50px;
  border-radius: inherit;
  scale: 0;
  z-index: -1;
  background-color: var(--lipstik-color);
  transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}

.button:hover::before {
  scale: 4;
}

.button:hover {
  color: var(--SecondHair-color);
  scale: 1.1;
  box-shadow: 5px 5px 10px var(--light-color);
}

.button:active {
  scale: 1;
}


  
.landingPage{
  /* background: linear-gradient(to right ,rgba(0, 0, 0, 0.591), rgba(255, 0, 0, 0)), url(../../public/images/landingPage.jpg) no-repeat; */
  background-position: center;
  background-size: cover;
  height: 100vh;
  display: flex;
  align-items: center;
  /* border: 1px solid red; */
}
.landingPage *{
  /* border: 1px solid red; */
}
.landingPage img{
  height: 100%;
  object-fit: cover;
  width: 100%;
}
.landingPage .leftContent{
  background:linear-gradient(rgb(222,190,166) 20%, rgb(230,201,180) 100%);
  padding-left: 50px;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.landingPage:first-child h1{
  color: var(--lipstik-color);
  font-size: 3.2rem;
  font-family: var(--primary-font);
}
.landingPage:first-child p{
  color: var(--SecondHair-color);
  font-family: var(--secondary-font);
  padding-left: 20px;
  line-height: 1.5rem;
  font-size: 1.1rem;

}
.landingPage .landingImage{
  background: linear-gradient(to left, rgba(0, 0, 0, 0),rgba(213, 162, 135, 0.379)), url(../../public/images/landingPage.jpg) no-repeat;
  background-position: center;
  background-size: cover;
  height: 100%;
}

.products{
  display: flex ;
  width: 100vw;
  justify-content: start;
  align-items: start;
  gap: 20px;
}
.bestSeller{
  margin-top: 50px;
  padding: 20px 50px;
  
}
.bestSeller .uper{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.uper *{
  margin: 0;
}

.bestProducts{
  height: 100vh;
  padding-inline: 50px;
}
.bestProducts .content{
  display: flex;
  gap: 100px;
  
}
.prod1, .prod2, .prod3{
  overflow: hidden;
  transition: all .5s;
}
.prod2{
  margin-top: 100px;
}

.prod1 h4:hover, .prod2 h4:hover, .prod3 h4:hover{
  transform: translateY(-10px);
  font-size: 2.3rem;
  letter-spacing: .2rem;

}

.bestProducts .prod1, .prod2, .prod3{
  transition: all .5s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

}
.bestProducts h4{
  transition: all .5s;
  padding-inline: 80px;
  padding-block: 10px;
  cursor: pointer;
  font-family: 'Lobster', cursive;;
  font-size: 2rem;
}
.bestProducts p{
  transition: all .5s;
  opacity: 0;
  color: var(--light-color);
  transform: translateY(-80px);
}
.bestProducts .activeHover, h4{
  display: block ;
  transform: translateY(0px);
  opacity: 1 !important;
  color: var(--SecondHair-color);
}

.bestProducts img{
  /* border: 1px solid red; */
  scale: 1.5;
  transition: all .9s;
  
}
.scalImg{
  transition: all .9s;
  animation: prodsAnimation 1.7s .3s  ease-in-out infinite;
  scale: 1 !important;

}

@keyframes prodsAnimation {
  0%,100%{
    transform: translateY(0px);
  }
  50%{
    transform: translateY(-20px);
  }
  
}

/* ---------- footer styling ------------ */
.footer{
  border-top: 1px solid;
  background:linear-gradient(transparent, var(--FirstHair-color), rgba(0, 0, 0, 0.476));
}
.icons *{
  font-size: 2rem;
  margin-inline: 1rem;
  cursor: pointer;
}
.icons *:hover{
  color:var(--SecondHair-color);
}

.footer > .row{
  display: flex;
  align-items:center;
}
.copyright{
  border-top: 1px solid ;
  padding-top: 10px;
}
.sociel_media h4{
  border-bottom: 2px solid;
  width: fit-content;
  margin: auto;
  text-transform: capitalize;
  padding-bottom: 10px;
  margin-bottom: 20px;
}
.sociel_media{
  margin-bottom: 10px;
}


.infoOrderCard{
  background: var(--forth-color) !important;
  padding: 40px 30px;
}
.infoProductCard{
  background: var(--primary-color) ;
  border-radius: 15px !important;
  margin-bottom: 5px;
}
.price{
  font-size: 1.2rem;
  color: var(--dark);
  font-family: var(--primary-font);
}
.summaryCard .list-group-item:nth-child(1){
  background: var(--FirstHair-color);
}
.summaryCard .list-group-item{
  background: var(--forth-color);
  font-family: var(--primary-font);
}
.infoProduct .list-group-item:nth-child(1){
  color: var(--dark);
  font-size: 2rem;
}
.infoProduct .list-group-item{
  font-family: var(--primary-font);
  padding: 10px 20px;
  font-size: 1.2rem;
  background: transparent;
}
#checkout{
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--primary-font);
}

#checkout li {
  border: 1px solid var(--forth-color);
  margin: 5px 20px;
  border-radius: 15px;
  padding: 10px 20px;
  position: relative;
  list-style: none;
}
#checkout li:not(:last-child)::before{
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0px;
  width: 40px;
  background: var(--forth-color);
  height: 2px;
  transform: translateX(100%);
}
.activeCheckout::before{
  background: var(--FirstHair-color) !important;
}
.activeCheckout{
  background: var(--lipstik-color);
  border: 1px solid var(--FirstHair-color) !important;
  box-shadow: 0px 0px 20px rgba(207, 18, 198, 0.346);
}
.activeCheckout a{
  color: var(--light-color) !important;
}

@media (width <= 798px) {
  #checkout{
    /* border: 1px solid red; */
    margin: 0px;
    padding: 0px;
  }
  #checkout li{
    margin: 10px;
    padding: 0px 10px;
  }
  #checkout li:not(:last-child)::before{
    width: 20px;
  }
}

#card .infoProductCard{
  padding: 10px 20px;
  background: var(--secondary-color);
  font-family: var(--primary-font);
}
#card .infoProductCard a{
  font-size: 1.2rem;
}

.reviews{
  background: var(--forth-color);
}